/* 
 * flex: 1 is necessary for telling the code to fill the screen
 */


/* ============ GLOBAL RESETS ============== */

html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  flex: 1;
}

.App-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}


/* ============ NAV & HEADER ============== */

.App-header {
  /* background-color:tr; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #351e1e;
}

.page-header{
  background-color: white;
  backdrop-filter: blur(10px);
  padding: 30px 20px;
  text-align: center;
  color: #333;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 90%;
}


.page-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #a6c5cf;;
}

.page-header p {
  font-size: 16px;
  color: #56390d;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(6px); /* subtle blur behind text */
  border-bottom: none;
  box-shadow: none;
}

.backdrop-blur {
  background-color: rgba(14, 7, 7, 0.3);
  backdrop-filter: blur(10px);
}
/* ============ MAIN CONTENT ============== */

.App-main {
  flex: 1;
  background-color: transparent;
  padding: 20px;
}

.Home-buttons {
  display: flex;
  justify-content: center;
  gap: 50px
}
.Home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* ============ FOOTER ============== */

.App-footer {
  background-color: transparent;
  padding: 10px 20px;
  backdrop-filter: blur(6px);
  font-size: 14px;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row; /*originall column*/
  align-items: center;
  justify-content: space-between; /*originall was center*/
  color: rgb(32, 29, 29);
  
}

.App-footer form{
  text-align: left;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.footer-text {
  text-align: left;
  margin-left: 20px;
}

/* ============ LINK ============== */

.App-link {
  color: #61dafb;
}


/* ============ NIGHT MODE ============== */


.switch-mode{
  background-color: #1f1f1f;
  font-family: "Pixelify Sans", sans-serif;
}

.switch-mode .App-footer, 
.switch-mode .App-header{
  background-color: #282c34;
}


.switch-mode .navbar,
.switch-mode .App-footer {
  background-color:#5f95e5a5;
  /* backdrop-filter: blur(8px); */
  border-bottom: none;
  box-shadow: none;
}

.switch-mode .navbar .nav-link,
.switch-mode .navbar-brand {
  color: #ffffff;
}

.switch-mode .btn {
  background-color: #64432e;
  color: white;
  border: none;
}

.switch-mode .quiz-box {
  background-color: #f8f7f6;
  color: #1964b9;
}

.switch-mode .footer-text {
  color: white;
  text-align: left;
  margin-left: 20px;
}

.mode-toggle {
  margin-top: 10px;
  font-size: 14px;
}

.mode-toggle .form-check-label {
  color: white; /* or black depending on mode */
}
/* ============ OPTIONAL: LOGO ANIMATION ============== */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============ BUTTONS FOR QUIZ-HOMEPAGE ============== */

.quiz-box {
  background-color: rgb(216, 192, 196);
  padding: 30px 20px;
  border-radius: 25px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.quiz-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

/* ============ DETAILED QUIZ ============== */
.progress {
  background-color:#61dafb  !important;
  
}
.submitButton{
  display: flex;
  align-items: center;
  text-align: center;
}

/* ============ BasicQuestions Text Color & Gifs ============== */


.basic-quiz-page {
  color: rgb(213, 115, 53);
  background-color: rgba(100, 200, 243, 0.812);
}
.basic-quiz-page .navbar-brand,
.basic-quiz-page .nav-link{
  color: white !important;
}

.floating-gif {
  position: absolute;
  width: 8wv;
  /* max-width: 100px; */
  height: auto;
  z-index: 10;
  opacity: 0.9;
  pointer-events: none;
  animation: float 5s ease-in-out infinite;
}


.gif-bottom-right {
  top: 500px;
  right: 15px;
  width: 150px;
  z-index: 11;
}

.gif-weirdfish{
  bottom: 200px;
  right:300px;
  width: 70px;
}

.gif-bubbles{
  bottom: 5px;
  width: 500px;
  z-index: 1;

}

.gif-bubbles2{
  bottom: 5px;
  left:360px;
  width: 500px;
  z-index: 1;
}

.gif-bubbles3{
  bottom: 5px;
  right:5px;
  width: 500px;
  z-index: 1;
}

.gif-bubbles4{
  bottom: 5px;
  right:250px;
  width: 500px;
  z-index: 1;
}

.gif-fish{
  top: 15px;
  /* left: 6px; */
  width: 150px;
  z-index: 11;
}

.gif-fish2{
  top: 100px;
  left: 30px;
  width: 250px;
  z-index: 11;
}

.gif-fish3{
  top: 150px;
  left: 300px;
  width: 250px;
  z-index: 11;
}

.gif-fish4{
  top: 150px;
  right: 6px;
  width: 150px;
}

.gif-fish5{
  top: 100px;
  right:200px;
  width: 200px;
}

.gif-fish6{
  top: 100px;
  right:400px;
  width: 150px;
}

.gif-bigfish{
  top: 150px;
  right:550px;
  width: 300px;
}

.clamshell{
  left:70px;
  bottom: 40px;
  width: 100px;
}

.rainbowstars{
  top:40px;
  left:30px;
  width:100px;
}

.rainbowstars2{
  top:180px;
  left:350px;
  width:140px;
}

.rainbowstars3{
  top:140px;
  right:250px;
  width:100px;
}

.starfish4{
  width:40px;
  bottom: 200px;
  left: 5000px;
}
@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}



/* ============ BasicQuestions QUIZ CARD  ============== */

/* just making it blank for presentation*/
.quiz-card{
  background-color: rgb(239, 236, 232); 
  border-radius: 15px;
  font-weight: 500;
  position: relative;
  z-index: 10;

}
.quiz-card label,
.quiz-card .form-check-label {
  font-family: 'Pixelify Sans';
}
h5 {
  font-family: "Tiny5";
}

.quiz-card label {
  font-weight: 500;
  font-size: 1.00rem;
}

.quiz-card .form-check {
  margin-bottom: 4px;
}

/* ============ BasicQuestions Arrows  ============== */


.arrow-btn{
  width:80px;
  height:auto;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease;
}

.arrow-btn:hover {
  transform: scale(1.1) rotate(5deg);
}

.arrow-button-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 400px; /* space between arrows */
  margin-top: 20px;
}

/*=========About page==========*/

.about-box {
  background-color: #ffffffe0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-size: larger;
}




/*Dont need

/* 
.App-header {
  background-color: #282c34;
  /* min-height: 20vh; */

/* }
.Home-buttons {
  display: flex;
  justify-content: center;
  gap: 70px
}
.Home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */ 


/* .App-logo {
  height: 40vmin;

.App-logo {
  height: 10vmin;

  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

} */

/* .basic-quiz-page label,
.basic-quiz-page .form-check-label,
.basic-quiz-page .navbar-brand,
.basic-quiz-page .nav-link,
.basic-quiz-page .progress-bar,
.basic-quiz-page .submitButton {
  color: white !important;
} */
/* 
arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(145, 96, 40);
  user-select: none;
  z-index: 1000;
  padding: 10px;
  background-color:  rgba(197, 240, 208, 0.77);
  border-radius: 50%;
  transition: background-color 0.3s;
}


.arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.left-Arrow {
  left: 20px;
}

.right-Arrow {
  right: 20px;
} */