/* 
 * flex: 1 is necessary for telling the code to fill the screen
 */

.App {
  text-align: center;
  flex: 1;
}


/* .App-logo {
  height: 40vmin;

.App-logo {
  height: 10vmin;

  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

} */

.App-header {
  background-color: #282c34;
  /* min-height: 20vh; */

}
.Home-buttons {
  display: flex;
  justify-content: center;
  gap: 70px
}
.Home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*
 * Use wrapper in order to align header and footer 
 * and to make sure that content fills screen no matter the resolution
 */

.App-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

/* 
* Use wrapper in order to align header and footer
* and to make sure that content fills screen no matter the resolution
*/

.App-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

/*
* Use wrapper in order to align header and footer
* and to make sure that content fills screen no matter the resolution
*/
.App-wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

.App-header {
  background-color: #696d76;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #696d76;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
 *Night Mode Functionality:
 */

.night-mode{
  background-color: #1f1f1f;
  color: #bcb3b3;
}

.night-mode .App-footer{
  background-color: #282c34;
}

.night-mode .App-header{
  background-color: #282c34;
}

/* .footer-text {
  text-align: left;
  width:100%;
  margin-left: 20px;
} */